* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-container {
    border: 1px solid black;
    height: 780px;
    width: 390px;
    box-shadow: 0 0.5px 8px grey;
    border-radius: 5px;
}

#app-header {
    width: 390px;
    height: 213px;
    background-image: url('assets/worldmap.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    height: 567px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-body, #main-body-render {
    width: 390px;
    height: 505px;
    width: 362px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 5px;
}

/* #main-body{
    display: none;
} */

#header-img {
    width: 94.88px;
    height: 84.8px;
}

#header-img img {
    width: inherit;
}

#header-details {
    width: 196px;
    height: 76px;
    color: white;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#header-details h1 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 43px;
    margin: 0;
    color: #32CD32;
}

#header-details p {
    height: 18px;
    width: 196px;
    font-size: 15px;
    margin: 5px 0 0;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #035A9D;
}

textarea {
    width: 317px;
    height: 118px;
    background-color: #EFF0F4;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    resize: none;
}

#AiTranslation{
    margin-bottom: 20px;
}

textarea::placeholder {
    color: #333333;
    font-weight: bold;
    font-size: 20px;
}

button {
    font-family: "Poppins", sans-serif;
    height: 50px;
    width: 322px;
    background-color: #035A9D;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

form {
    color: #333333;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

form img {
    border: 1px solid black;
}

label {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

form div{
    margin-bottom: 5px;
}

#error{
    color: red;
    font-size: 15px;
    margin: 0;
}



/* Spinner */

#spinner-container{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

